@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #efedee;
    /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
*/}
.calculator{
    background: transparent;
    width: 376px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* box-shadow: 0 8px 60px rgba(0, 0, 0, .2); */
}

.result{
    background-color: transparent;
    color: black; 
    width: 326px;
    margin: 15px;
    text-align: right;
    height: 90px;
    line-height: 75px;
    font-weight: 200;
    font-size: 80px;
    padding: 10px;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    background: #efedee;
    padding: 10px;
    width: 50px;
    height: 50px;
    float: left;
    color: black;
    margin: 12px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 3px 2px 15px rgb(77 43 43 / 5%), -5px -6px 8px rgb(255 255 255 / 30%), inset 30px 30px 25px rgb(77 43 43 / 1%);
}

ul li:active{
    position: relative;
    top: 5px;
    box-shadow: 3px 2px 15px rgb(77 43 43 / 5%), -5px -6px 8px rgb(255 255 255 / 30%), inset 30px 30px 25px rgb(77 43 43 / 1%);
}

ul li:nth-child(16){
    height: 145px ;
    line-height: 145px;
}

ul li:nth-child(4){
    color: #f68f50;
}

ul li:nth-child(8){
    color: #f68f50;
}

ul li:nth-child(12){
    color: #f68f50;
}

ul li:nth-child(16){
    color: #f68f50;
}

ul li:last-child{
    position: absolute;
    top: 531px;
    left: 15px;
    width: 237px;
}